project_name = "grafana-stack"
env_subfix   = "nonprod"
region       = "us-east-1"

# Add your actual AWS account ID
aws_account_id = ""

tags_project = {
  Project     = "grafana-stack"
  Environment = "nonprod"
  ManagedBy   = "terraform"
}
